
.background{ 
  background-color:#ffe207  ;
  background-size: 100px 100px;
  background-attachment: fixed;


}

  .header {
    padding: 38px;
    
  }
  .logo {
    font-size: 25px;
    font-family: 'Cairo';
    text-align:center;

    
  }
  .menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  .menuformat {
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
  }

  .library.book {
    border: 1px ; 
    margin: 60px;
    padding: auto 10px;
  }